@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("translate.google.com"), domain("translate.google.cn") {
	#gt-src-wrap [style="width: 100%;"] *, #result_box {
		line-height: 1.4;
	}
	.trans-verified-button-small #result_box[lang="ja"], .trans-verified-button-small #result_box[lang="ko"] {
		line-height: 1.6;
	}
	.trans-verified-button-small #result_box[lang^="zh"] {
		line-height: 1.6;
		font-size: 18px;
	}
	.goog-flat-menu-button {
		font-size: 12px;
	}
	#wtgbr {
		transition: margin 200ms;
	}
	#contentframe {
		top: 0px !important;
		margin-top: 60px !important;
	}
}
@-moz-document domain("translate.googleusercontent.com") {
	#goog-gt-tt .original-text {
		text-align: start;
	}
	#goog-gt-tt > div:first-child {
		display: none;
	}
	html.translated-ltr > body {
		overflow-x: hidden;
	}
}
@-moz-document domain("bilibili.com") {
	.player-fullscreen-fix {
		overflow: hidden;
	}
	.bilibili-player-video-inputbar {
		margin-right: -1px;
	}
	.bilibili-player-video-danmaku {
		will-change: contents;
	}
	.bilibili-player-video-sendbar .bilibili-player-video-inputbar .bilibili-player-video-danmaku-input {
		font-size: 1.3em;
	}
	.bilibili-player-video-btn-send {
		transform: scale(1.3);
	}
}

@-moz-document domain("youtube.com") {
	#watch-description-text {
		padding-top: 4px;
	}
	.yt-uix-button.yt-uix-button-size-default.yt-uix-button-expander.yt-uix-expander-head.yt-uix-expander-body, #less {
		display: none;
	}
}
@-moz-document domain("pan.baidu.com") {
	#fileTreeDialog .file-tree-container {
		height: 60vh;
	}
}
@-moz-document url-prefix() {
	md-option {
		height: 32px;
	}
	md-select-menu, md-select-menu md-content {
		max-height: 70vh;
	}
}

@-moz-document domain("twitter.com") {
	.ProfileCanopy.is-locked .ProfileCanopy-inner, .SearchNavigation {
		position: absolute;
	}
}
@-moz-document domain("plus.google.com") {
	img {
		image-rendering: auto !important;
	}
}
@-moz-document url-prefix("http://127.0.0.1:43110") {
	.animate-inout {
		transition-timing-function: ease !important;
	}
}

@-moz-document domain("vuejs.org") {
	code, pre {
		font-size: 1em;
	}
	.highlight .code pre {
		padding: 0.8em;
	}
}
@-moz-document domain("github.com") {
	.js-line-number, .CodeMirror-gutter {
		background-color: #f6f8fa;
		color: #999;
	}
}
@-moz-document domain("program-think.blogspot.com") {
	* {
		line-height: 1.6 !important;
	}
}
